#cartItemsContainer {
	width:100%;
	background-color:#efeeee;
}
#cartItemsHolder {
	width:1000px;
	margin:auto;
}
.cartHead {
	text-align: center;
	padding-top: 120px;
	font-family: CustomFont9;
	font-size: 30px;
	letter-spacing: 4px;
	color: #61616e;
}
#cartItemsHolder hr {
	width: 50px;
	margin: auto;
	height: 6px;
	border: none;
	background-color: #f6364d;
	color: #f6364d;
	margin-top: 30px;
}


.cartItem {
	width:1000px;
	height:250px;
	margin-top:50px;
	background-color:white;
	overflow:hidden;
	float:left;
}
.cartItemImg {
	height:320px;
	width:220px;
	position:relative;
	margin-top:-35px;
	float:left;
}
.cartItemTitle {
	color:#51515e;
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:30px;
	margin-left:280px;
	position:absolute;
	letter-spacing:1px;
}
.cartItemP {
	color:#71717e;
	font-family:CustomFont8;
	font-size:19px;
	position:absolute;
	letter-spacing:1px;
}
.cartPriceP {
	margin-top:80px;
	margin-left:280px;
}
.cartTotalPriceP {
	margin-top:80px;
	margin-left:420px;
}
.cartQuantityP {
	margin-top:120px;
	margin-left:280px;
}
.cartQuantity {
	display:block;
	position:absolute;
	margin-left:380px;
	margin-top:118px;
	height:25px;
	width:35px;
	font-size:16px;
	color:#71717e;
	font-family:CustomFont8;
	text-align:center;
}
.cartItemButton {
	display:block;
	position:absolute;
	margin-top:175px;
	background-color:rgba(246, 54, 77, 0.7);
	border: none;
	color:white;
	height:42px;
	width:100px;
	font-size:16px;
	font-family:CustomFont8;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
	cursor:pointer;
	letter-spacing:1px;
}
.cartItemButton:hover {
	background-color:rgba(246, 54, 77, 1);
}
.cartItemUpdateButton {
	margin-left:280px;
}
.cartItemDeleteButton {
	margin-left:400px;
}
.subtotalPrice {
	float:left;
	margin-top:50px;
	color:#51515e;
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}
#checkoutButton {
	float:right;
	height:50px;
	width:200px;
	font-family:CustomFont8;
	font-size:16px;
	margin-top:40px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
	cursor:pointer;
	letter-spacing:1px;
	display:block;
	border: none;
	background-color:rgba(246, 54, 77, 0.7);
	color:white;
}
#checkoutButton:hover {
	background-color:rgba(246, 54, 77, 1);
}