#aboutHeader {
	width:100%;
	height:100%;
	background: rgba(30,30,30,1);
	background: url('DisplayImages/bannerPic1_comp.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#aboutHeaderContents {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-100px;
	overflow:hidden;
	height:150px;
	width:500px;
}
#aboutP1 {
	color:white;
	letter-spacing:10px;
	font-size:20px;
	font-family:CustomFont9;
	margin-left:175px;
}
#aboutP2 {
	margin-top:20px;
	color:white;
	letter-spacing:20px;
	font-size:70px;
	font-family:CustomFont6;
	margin-left:85px;
}

#aboutInfo {
	height:400px;
	width:100%;
	background-color:#dddddd;
}
#aboutTextHolder {
	height:400px;
	min-width:1050px;
	max-width:1050px;
	margin:auto;
	text-wrap:normal;
	text-align:center;
	font-size:20px;
}
#infoP1 {
	padding-top:60px;
	line-height:100px;
	font-family:CustomFont8;
	color:#41415E;
	font-weight:900;
	letter-spacing:1px;
}
#infoP2 {
	line-height:45px;
	font-family:CustomFont8;
	color:#61615E;
}

.memberDivs {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	float:left;
}
.memberDivs  img{
	position:absolute;
}
#membersHolder {
	width:100%;
	height:4000px;
}

<?php
header("Content-type: text/css");


$font_family = 'Arial, Helvetica, sans-serif';
$font_size = '0.7em';
$border = '1px solid';
?>