input {
	display:none;
}

#productsHeader {
	width:100%;
	height:100%;
	background: rgba(30,30,30,1);
	background: url('DisplayImages/Lumiere_Banner_5.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#productsHeaderContents {
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-100px;
	overflow:hidden;
	height:200px;
	width:500px;
}
#productsHeaderContents hr {
	width:50px;
	margin:auto;
	border-color:#f6364d;
	background-color:#f6364d;
	color:#f6364d;
	margin-top:20px;
}
#productsP1 {
	color:white;
	letter-spacing:10px;
	font-size:20px;
	font-family:CustomFont9;
	margin-left:175px;
}
#productsP2 {
	margin-top:20px;
	color:white;
	letter-spacing:14px;
	font-size:60px;
	font-family:CustomFont6;
	margin-left:40px;
}


#productsHolder {
	width:100%;
	height:1200px;
	background-color:#efeeee;
	padding-top:100px;
}
.holderContents {
	height:500px;
	min-width:1040px;
	max-width:1040px;
	margin:auto;
}
#holderContents2 {
	margin-top:100px;
}

.candleProduct{
	background-color:#000000;
	min-width:340px;
	min-height:450px;
	float:left;
	margin-top:0px;
	cursor:pointer;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
#candleA{
	background: #CCCCCC url('DisplayImages/Mountain_Musk.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}
#candleB{
	margin-left:10px;
	margin-right:10px;
	background: #CCCCCC url('DisplayImages/Cookie_Crumble.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}
#candleC{
	background: #CCCCCC url('DisplayImages/Wintermint_Candy.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}
#candleD{
	background: #CCCCCC url('DisplayImages/Summer_Tango.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}
#candleE{
	margin-left:10px;
	margin-right:10px;
	background: #CCCCCC url('DisplayImages/Sweet_Lilac.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}
#candleF{
	background: #CCCCCC url('DisplayImages/Ocean_Breeze.jpg') no-repeat center;
	-webkit-background-size: 340px 500px;
    -moz-background-size: 340px 500px;
    -o-background-size: 340px 500px;
    background-size: 340px 500px;
}

#holderContentsText{
	height:80px;
	width:1040px;
	float:left;
	margin:auto;
	cursor:pointer;
}
.productsHolderP1 {
	width:340px;
	height:80px;
	float:left;
	background-color:white;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
#productsHolderP1B,  #productsHolderP1E{
	margin-left:10px;
	margin-right:10px;
}
.productsHolderP1 p{
	font-size:18px;
	font-family:CustomFont8;
	letter-spacing:2px;
	color:#231f20;
	margin-top:28px;
	margin-left:20px;
	text-align:left;
	font-weight:bold;
	position:absolute;
}

.arrow2 {
	position:absolute;
	margin-left:260px;
	margin-top:-8px;
}
.arrow2 p{
	padding-top:4px;
	padding-bottom:4px;
	padding-left:7px;
	padding-right:7px;
	font-family:CustomFont3;
	font-size:20px;
	font-weight:600;
	color:#aaaaaa;
	border-style:solid;
	border-width:3px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}


#candleHolder {
	width:100%;
	height:900px;
	background-color:#f6f6f6;
}
#candleContainer {
	min-width:1000px;
	max-width:1000px;
	height:900px;
	margin:auto;
}
#candleContainer img {
	height:500px;
	width:340px;
	position:absolute;
	margin-top:200px;
	margin-left:50px;
}
.candleTitle {
	margin-left:620px;
	color:#51515e;
	font-size:25px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
}
#candleTitle1 {
	margin-top:180px;
}
#candleTitle2 {
	margin-top:460px;
}
#candleInfo {
	margin-top:230px;
	margin-left:620px;
	position:absolute;
	width:300px;
	font-size:18px;
	color:#61616e;
	letter-spacing:1px;
	line-height:25px;
	font-family:CustomFont8;
}
#candlePrice {
	color:#f6364D;
	font-size:25px;
	position:absolute;
	margin-left:620px;
	margin-top:500px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:35px;
}
#candleForm {
	height:50px;
	width:150px;
	position:absolute;
	margin-left:620px;
	margin-top:590px;
	cursor:pointer;
}
#quantity {
	float:left;
	height:50px;
	width:80px;
	display:block;
	color:#41414e;
	border: 1px solid #dddddd;
	text-align:center;
	font-size:22px;
}
.incrementP {
	text-align:center;
	width:30px;
	height:50px;
	float:left;
	font-size:30px;
	background-color:#f9f9f9;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	line-height:50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin:0;
}
#incrementPLeft {
	border-left: 1px solid #dddddd;
}
#incrementPRight {
	border-right: 1px solid #dddddd;
}
#submitCandle {
	display:block;
	border:0px;
	background-color:rgba(246, 54, 77, 0.7);
	border: 1px solid #f6364D;
	color:white;
	height:50px;
	width:160px;
	position:absolute;
	margin-left:620px;
	margin-top:670px;
	font-size:18px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
	cursor:pointer;
}
#submitCandle:hover {
	background-color:rgba(246, 54, 77, 1);
}